@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* === Global Scrollbar Style === */
::-webkit-scrollbar {
  width: 6px; /* Reduced scrollbar width */
  height: 6px; /* Horizontal scrollbar height */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light background for track */
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1; /* Default thumb color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0; /* Darker on hover */
}

/* Firefox scrollbar styling */
* {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}

@media print {
  @page {
    size: 80mm auto;
    margin: 0;
  }

  body {
    margin: 0;
    padding: 0;
  }
}
